{% extends 'base.html' %}

{% block content %}

<div class="text-center mt-5">
    <h2 class="fw-bold">💳 Secure Payment</h2>
    <h4 class="text-success">₹{{ total }}</h4>

    <button id="rzp-button" class="btn btn-success btn-lg mt-3 px-5">
        Pay Now
    </button>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ payment.amount }}",
    "currency": "INR",
    "name": "PyShop",
    "description": "Order Payment",
    "order_id": "{{ payment.id }}",

    "handler": function (response){
        window.location.href = "/payment-success/?payment_id=" + response.razorpay_payment_id;
    },

    "theme": {
        "color": "#198754"
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

{% endblock %}